/*body {
    
    margin: 0;
    height: 200vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    background: linear-gradient(#000000 70%, #fff64e 160%);
}*/

/*Hiding Scrollbar assisted with https://www.youtube.com/watch?v=BlSp2ertu_8&ab_channel=Webdev */
html {
  scroll-behavior: smooth;
  overflow: hidden;
}
* ::-webkit-scrollbar {
  margin: 0;
  display: none;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #000000;
}

#player-background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-image: none;
}

.content {
  width: 100vw;
  height: 100vh;

  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.controls {
  position: absolute;
  left: 0;
  bottom: 10%;

  width: 100%;

  margin: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 8px;
}

.arrow-section {
  position: absolute;

  bottom: 20px;
}

.place-holder {
  visibility: hidden;
}
.hide-cursor {
  cursor: none;
}

.example::-webkit-scrollbar {
  display: none;
}

#menu-anchor {
  font-size: 0;
}

#player-anchor {
  font-size: 0;
}

.hide-background {
  position: absolute;
  top: 0;
  left: 0;

  transform: scale(50%);
  cursor: pointer;
}

#menu {
  position: absolute;

  width: 100%;
  height: 100vh;

  margin: 0;
  padding-top: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: sans-serif;
  background: linear-gradient(#000000 70%, #1ffbff 160%);
  font-size: 30px;
  /* gap: 45%; */
}

#menu .each-section {
  width: 50%;
}
#menu .left-section {
  margin-left: 5%;
}
#menu .right-section {
  margin-left: 25%;
}

.uparrow-container {
  position: relative;

  top: 20px;

  display: flex;
  width: 100%;
  justify-content: center;
}

.playlists {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.playlist {
  cursor: pointer;
  font-size: 30px;
}

fieldset {
  border: 6px solid rgb(255, 255, 255);
  min-height: 620px;
  max-width: 100px;
}

legend {
  text-align: center;
  color: white;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-left-width: 80px;
  border-right-width: 80px;
  font-size: 60px;
}

/* I wanted to add some complexity to the border and discovered fieldset and legend tags from https://stackoverflow.com/questions/6357718/how-to-hide-a-part-of-a-css-borderline-nicely. */

li {
  font-size: 30px;
  color: white;
  padding-bottom: 20px;
}

button {
  cursor: pointer;
}

.buttons {
  background: none;
  border-style: none;
}

.ui {
  background: none;
  border-style: none;
  scale: 90%;
}

/* Volume slider assisted by https://www.geeksforgeeks.org/how-to-change-the-color-of-range-slider-in-css/ */

.volume {
  scale: 100%;
  accent-color: white;
  cursor: pointer;
}

p {
  color: white;
}

h1 {
  color: white;
}

#more {
  text-align: center;
  font-size: 38px;
}
